@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    /* *colors */
    --Tomato: hsl(4, 100%, 67%);
    --Dark-Slate-Grey: hsl(234, 29%, 20%);
    --Charcoal-Grey: hsl(235, 18%, 26%);
    --Grey: hsl(231, 7%, 60%);
    --White: hsl(0, 0%, 100%);

    /* *Font */
    --fw-400: 400;
    --fw-500: 500;
    --fw-700: 700;
    --fs-normal: 1rem;
    --Roboto: "Roboto", sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
}

main {
    background-color: var(--Charcoal-Grey);
    min-height: inherit;
    display: grid;
    place-items: center;
    font-family: var(--Roboto);
    color: var(--Charcoal-Grey);
}

h1, h2 {
    margin: 0;
    font-size: 2.5rem;
    font-weight: var(--fw-700);
}

h1 + p {
    font-size: .875rem;
    font-weight: var(--fw-500);
}

.success {
    background-color: var(--White);
    padding: 1.7em 3em;
    width: min(370px, 100%);
    border-radius: 1.8em;
    display: none;
    flex-direction: column;
    gap: .8em;
}

.success img {
    width: 3.2rem;
    height: 3.2rem;
}

.success p {
    font-size: .75rem;
    font-weight: var(--fw-500);
    margin: 0;
}

.success span {
    color: var(--Dark-Slate-Grey);
    font-weight: var(--fw-700);
}

.form-start {
    /* display: none !important; */
    background-color: var(--White);
    width: min(750px, 100%);
    display: grid;
    grid-template-columns: 1.35fr 1fr;
    gap: 2em;
    padding: 1.5em 1em;
    border-radius: 1.8em;
}

.form-text {
    align-self: center;
    padding-inline: 2em;
}

.form-img {
    /* background: url('assets/images/illustration-sign-up-desktop.svg') no-repeat; */
    object-fit: cover;
    /* object-position: -4em 0; */
    border-radius: .8em;
    height: 28em;
    width: 100%;
}

.form-start ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-weight: var(--fw-500);
    font-size: .875rem;
    margin-bottom: 1.5em;
}

.form-start ul li {
    display: flex;
    gap: .5em;
}

.form-start ul li p {
    margin: 0;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.input-group .labels {
    font-size: .675rem;
    font-weight: var(--fw-700);
    display: flex;
    justify-content: space-between;
}

.labels p {
    margin: 0;
}

.input-group input {
    outline: none;
    padding: 1em 2em;
    border-radius: .6em;
    border: 1px solid var(--Grey);
    font-weight: var(--fw-700);
}

.input-group input::placeholder {
    color: var(--Grey);
}

.error-msg {
    color: var(--Tomato);
}

button {
    color: var(--White);
    background-color: var(--Dark-Slate-Grey);
    padding: 1em 2em;
    border-radius: .6em;
    width: 100%;
    font-weight: var(--fw-700);
    margin-top: 1.3em;
    cursor: pointer;
    border: none;
}

@media only screen and (max-width: 650px) {
    .form-start {
        /* flex-direction: column; */
        grid-template-columns: 1fr;
        gap: 0;
        padding: 0;
        border-radius: 0em 0em 0 0;
    }

    .form-img {
        order: 1;
        border-radius: 0em 0em .8em 0.8em;
    }

    .form-text {
        order: 2;
        padding: 1.5em 0;
        width: 90%;
        margin-inline: auto;
    }
}